body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman";
  font-size: 24px;
  background-color: #fff5fe;
  width: auto;
}

.nom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nom-menu h1 {
  font-size: 40px;
  font-family: "Bai Jamjuree";
  margin: 0px;
  padding: 10px;
}

.head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d8852e), color-stop(#c4786b), to(#ac6baf));
  background-image: linear-gradient(to right, #d8852e, #c4786b, #ac6baf);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Times New Roman";
  font-size: 24px;
  padding-bottom: 60px;
}

.head-menu h1 {
  margin: 0px;
  font-weight: bold;
  font-size: 60px;
}

.container {
  width: auto;
  height: 1100px;
  background-color: #fff5fe;
  margin: auto;
  margin-bottom: 70px;
  padding: 0px 100px;
}

.container h2 {
  text-align: center;
  margin: 0px;
  font-weight: unset;
}

.style-titre1--menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: stretch;
}

.style-titre1--menu2 h2 {
  margin: -5px;
  cursor: pointer;
  position: relative;
}

.style-titre1--menu2 h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: #d8852e;
  -webkit-transition: width 600ms ease 0s;
  transition: width 600ms ease 0s;
}

.style-titre1--menu2 h2:hover::after {
  left: 0;
  width: 100%;
}

.style-titre1--menu2 hr.ligne {
  border: 0px;
  height: 7px;
  width: 90%;
  background-color: #d8852e;
  border-radius: 0% 2% 5% 0%;
}

.style-titre2--menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: stretch;
}

.style-titre2--menu2 h2 {
  margin: -5px;
  cursor: pointer;
  position: relative;
}

.style-titre2--menu2 h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: #c4786b;
  -webkit-transition: width 600ms ease 0s;
  transition: width 600ms ease 0s;
}

.style-titre2--menu2 h2:hover::after {
  left: 0;
  width: 100%;
}

.style-titre2--menu2 hr.ligne {
  border: 0px;
  height: 7px;
  width: 300px;
  background-color: #c4786b;
  border-radius: 0% 2% 5% 0%;
}

.style-titre3--menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: stretch;
}

.style-titre3--menu2 h2 {
  margin: -5px;
  cursor: pointer;
  position: relative;
}

.style-titre3--menu2 h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: #ac6baf;
  -webkit-transition: width 600ms ease 0s;
  transition: width 600ms ease 0s;
}

.style-titre3--menu2 h2:hover::after {
  left: 0;
  width: 100%;
}

.style-titre3--menu2 hr.ligne {
  border: 0px;
  height: 7px;
  width: 250px;
  background-color: #ac6baf;
  border-radius: 0% 2% 5% 0%;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entrees {
  color: #d8852e;
}

.resistance {
  color: #c4786b;
}

.dessert {
  color: #ac6baf;
}
/*# sourceMappingURL=menu2.css.map */